/* _content/HealthTech.mf.ehr/Component1.razor.rz.scp.css */
.my-component[b-wgkd6k9lyf] {
    border: 2px dashed red;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
}
